#Temporaries
*~
*.*~*
*.swp
#Results
*.dot
#Private to project
jamhh/nbproject/private/
jamhh/build*
jamhh/dist*
jamhh/lib
jamhh/nbproject*
jamhh/target*
*private*
/jahmm/build/
/jahmm/dist/
jahmm/.jacocoverage/*
/jahmm/.jacocoverage/*
*jacoco*
